[submodule "vim/bundles-available/supertab"]
	path = vim/bundles-available/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundles-available/nerdtree"]
	path = vim/bundles-available/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles-available/vim-ruby"]
	path = vim/bundles-available/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundles-available/snipmate"]
	path = vim/bundles-available/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "vim/bundles-available/vim-rails"]
	path = vim/bundles-available/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundles-available/vim-haml"]
	path = vim/bundles-available/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/bundles-available/molokai"]
	path = vim/bundles-available/molokai
	url = https://github.com/cschlueter/vim-molokai
[submodule "vim/bundles-available/surround"]
	path = vim/bundles-available/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundles-available/ctrl-p"]
	path = vim/bundles-available/ctrl-p
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundles-available/nerdcommenter"]
	path = vim/bundles-available/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundles-available/vimroom"]
	path = vim/bundles-available/vimroom
	url = https://github.com/mikewest/vimroom
[submodule "vim/bundles-available/vim-markdown"]
	path = vim/bundles-available/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/bundles-available/vim-cucumber"]
	path = vim/bundles-available/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
